<p id="notice"><%= notice %></p>

<h1>Properties</h1>

<table>
  <thead>
    <tr>
      <!-- <th>Seller</th> -->
      <th>Description</th>
      <th>Price</th>
      <th>Longitude</th>
      <th>Latitude</th>
      <th>Bed</th>
      <th>Bath</th>
      <th>Car</th>
      <th>Postcode</th>
      <th>Suburb</th>
      <th>Address</th>
      <th>State</th>
      <th>Title</th>
      <th>Property type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <!-- <td><%#= property.seller_id %></td> -->
        <td><%= property.description %></td>
        <td><%= property.price %></td>
        <td><%= property.longitude %></td>
        <td><%= property.latitude %></td>
        <td><%= property.bed %></td>
        <td><%= property.bath %></td>
        <td><%= property.car %></td>
        <td><%= property.postcode %></td>
        <td><%= property.suburb %></td>
        <td><%= property.address %></td>
        <td><%= property.state %></td>
        <td><%= property.title %></td>
        <td><%= property.property_type %></td>
        <td><%= link_to 'Show', property %></td>
        <td><%= link_to 'Edit', edit_property_path(property) %></td>
        <td><%= link_to 'Destroy', property, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Property', new_property_path %>
