<p id="notice"><%= notice %></p>

<!-- PROPERTY IMAGE CAROUSEL -->
<div class="container d-flex justify-content-center pt-5">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="http://via.placeholder.com/350x200" alt="First slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://via.placeholder.com/350x200" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://via.placeholder.com/350x200" alt="Third slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://via.placeholder.com/350x200" alt="Fourth slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="http://via.placeholder.com/350x200" alt="Fifth slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<!-- INFO -->
<div class="container pt-4">
  <div class="row pt-3 pb-3">
    <div class="col text-center">
      <h2><%= @property.title %></h2>
    </div>
  </div>
  <div class="row pt-3">
    <div class="col">
      <div class="row">
        <div class="col">
          <p class="card-title">$<%= @property.price %></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <div class="card-subtitle text-muted"><%= @property.suburb %>, <%= @property.state %> <%= @property.postcode %></div>
        </div>
      </div>
    </div>
    <div class="col text-center">
      <div class="row">
        <div class="col">🛏</div>
        <div class="col">🛀</div>
        <div class="col">🚙</div>
      </div class="row">
      <div class="row">
        <div class="col"><%= @property.bed %></div>
        <div class="col"><%= @property.bath %></div>
        <div class="col"><%= @property.car %></div>
      </div class="row">
    </div>
  </div>
</div>

<!-- DESCRIPTION -->
<div class="container">
  <div class="row pt-3 pr-3 pl-3 pb-4">
    <div class="col property-text">
      <p><%= @property.description %></p>
    </div>
  </div>
</div>
